<%- include('./partials/head')%> <%- include('./partials/header')%> <% if
(tno.length === 0) { %>
<h1>ERROR 404 PAGE NOT FOUND!</h1>
<% }%>
<div class="middle-text">
  <h2>Exposense</h2>
  <p><%= tno[0].intro %></p>
</div>

<div class="flexible-svg">
  <div class="middle-svg">
    <img loading="lazy" src="/assets/plate-without-color.svg" alt="image of all chapters" />

    <img id="left-side" loading="lazy" src="/assets/links.svg" alt="left-side image" />
    <img id="right-side" loading="lazy" src="/assets/rechts.svg" alt="right-side image" />
    <img id="top-side" loading="lazy" src="/assets/boven.svg" alt="above image" />
    <img id="bottom-side" loading="lazy" src="/assets/onder.svg" alt="under image" />

    <button class="svg-button" id="first-button" data-id="1">
      <img loading="lazy" src="/assets/plus.png" alt="button picture"/>
    </button>
    <button class="svg-button" id="second-button" data-id="2">
      <img loading="lazy" src="/assets/plus.png" alt="button picture"/>
    </button>
    <button class="svg-button" id="third-button" data-id="3">
      <img loading="lazy" src="/assets/plus.png" alt="button picture"/>
    </button>
    <button class="svg-button" id="fourth-button" data-id="4">
      <img loading="lazy" src="/assets/plus.png" alt="button picture"/>
    </button>
    <button class="svg-button" id="fifth-button" data-id="5">
      <img loading="lazy" src="/assets/plus.png" alt="button picture"/>
    </button>
  </div>
</div>

<% tno.forEach(tno => {%> <% tno.chapters.forEach(chapter => {%>
<article class="popup-message" id="popup-<%= chapter.id %>">
  <a class="loading-picture">
    <picture class="close-icon">
      <source srcset="/assets/close.avif" type="image/avif" />
      <source srcset="/assets/close.webp" type="image/webp" />
      <img
        class="loading-picture"
        loading="lazy"
        src="/assets/close.png"
        alt="dicht knop"
      />
    </picture>
  </a>
  <div class="popup-image">
    <img
      loading="lazy"
      src="/assets/<%= chapter.title %>.svg"
      alt="<%= chapter.title %>"
    />
  </div>
  <h3><%= chapter.title%></h3>
  <%- chapter.content%> <%= console.log(chapter.video_url) %>
  <a href="<%= chapter.video_url %>" class="popup-button">
    <p>Bekijk de video</p>
    <picture class="popup-arrow-button">
      <source srcset="/assets/right-arrow.avif" type="image/avif" />
      <source srcset="/assets/right-arrow.webp" type="image/webp" />
      <img
        loading="lazy"
        src="/assets/right-arrow.png"
        alt="<%= chapter.title %> video"
      />
    </picture>
  </a>
</article>
<% }) %> <% }) %> <%- include("./partials/footer") %> <%-
include("./partials/foot") %>
